.devider-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;
  margin: 1.5rem;
  color: #2d5256;
  > i {
    min-width: fit-content;
    margin-right: 1rem;
    font-weight: 600;
  }
}

.devider {
  width: 100%;
  height: 1.5px;
  background-color: #2d5256;
}
