.guide-message--title {
  font-size: 1.2rem;
  font-weight: 800;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #897d67;
  text-align: left;
  font-family: inherit;
  color: #efefef;
  font-family: TitleFont;
}

.guide-message--body {
  color: #efefef;
  opacity: 0.8;
}

.guide-message--body--intro {
  font-weight: 700;
  margin-right: 5px;
}
