.journal-wrapper {
  display: flex;
  flex-direction: row;
}

.journal--image {
  width: 100px;
  min-height: 135px;
  max-height: 135px;
  margin-right: 1.5rem;
  outline: 1px solid #b3a998;
  border-radius: 1px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
  border-radius: 1px;
  > img {
    width: inherit;
    height: 100%;
    max-height: 135px;
  }
}

.journal-special__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: #282520;
  font-family: TitleFont;
}

.journal-special--body {
  line-height: 1.4;
  color: #282520;
}

.journal-special--text {
  > h1 {
    color: #2d5256;
  }

  > p {
    color: #374c4e;
  }
}
