:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: TitleFont; /* set name */
  src: url(..//assets/fonts/Oldenburg-Regular.ttf); /* url of the font */
}

#root {
  min-height: 100vh;
  width: 100%;
  overflow: scroll;
}

body {
  background-image: linear-gradient(to bottom, #080b07, #374633);
}

.page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr; // first row auto height, second row fills remaining space
  grid-template-columns: 275px 1fr; // for second row: fixed + flexible
  gap: 1rem;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;

  // First child spans full width
  > :first-child {
    grid-column: 1 / -1;
  }
}

.page-wrapper--secondary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: start;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.loader {
  border: 2px solid #f3f3f33b;
  border-radius: 50%;
  border-top: 2px solid #f3f3f3;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
